# Virtual env
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
*.egg

# Outputs
outputs/
figures/

# Archives
*.zip

# IDE / OS
.idea/
.vscode/
.DS_Store
*.swp
*.swo
